
<div class="col-md-8 offset-md-3">
    
    <form [formGroup]="signup" class="form-box1">
        <h3 style="text-align: center">Signup</h3>
        <h6 style="text-align: center; font-size: 15px; color: rgb(6, 134, 6);">Register Yourself!</h6>
        <div class="form-group">
            <label>First Name</label>
            <input type="text" placeholder="Enter First Name" class="form-control" id="customerFirstName" [(ngModel)] = "customerFirstName" [ngModelOptions]="{standalone: true}" name="customerFirstName">
        </div><br>
        <div class="form-group">
            <label>Last Name</label>
            <input type="text" placeholder="Enter Last Name" class="form-control" id="customerLastName" [(ngModel)] = "customerLastName" [ngModelOptions]="{standalone: true}" name="customerLastName">
        </div><br>
        <div class="form-group">
            <label>Email Address</label>
            <input type="email" placeholder="Enter Email Address" class="form-control" id="customerEmail" [(ngModel)] = "customerEmail" [ngModelOptions]="{standalone: true}" name="customerEmail">
        </div><br>
        <div class="form-group">
            <label>Phone Number</label>
            <input type="number" placeholder="Enter Phone Number" class="form-control" id="customerphoneNumber" [(ngModel)] = "customerPhoneNumber" [ngModelOptions]="{standalone: true}" name="customerPhoneNumber">
        </div><br>
        <div class="form-group">
            <label>Username</label>
            <input type="text" placeholder="Enter Username" class="form-control" id="customerUsername" [(ngModel)] = "customerUsername" [ngModelOptions]="{standalone: true}" name="customerUsername">
        </div><br>
        <div class="form-group">
            <label>Password</label>
            <input type="password" placeholder="Enter Password" class="form-control" id="customerPassword" [(ngModel)] = "customerPassword" [ngModelOptions]="{standalone: true}" name="CustomerPassword">
        </div><br>
        <span style="font-size: 15px">Already registered?<a routerLink="/login">Signin</a></span>
        <br/>
        <button class="btn btn-success" type="submit" (click)="save()">Signup</button>
    </form>
    </div>
  

























<!-- <div class="container">
    <form class="form-box1">
        
        <h3 style="text-align: center">Signup</h3>
        <h6 style="text-align: center; font-size: 15px; color: rgb(6, 134, 6);">Register Yourself!</h6>
  
        <div class="form-group">
            <label>First Name</label>
            <input type="text" formControlName="customerFirstName" class="form-control mb-3 mt-3" placeholder="Enter First Name"/>
        </div>
  
        <div class="form-group">
            <label>Last Name</label>
            <input type="text" formControlName="customerLastName" class="form-control mb-3 mt-3" placeholder="Enter Last Name"/>
        </div>
  
        <div class="form-group">
            <label>Email Id</label>
            <input type="email" formControlName="customerEmail" class="form-control mb-3 mt-3" placeholder="Enter Email address"/>
        </div>
  
        <div class="form-group">
            <label>Phone Number</label>
            <input type="text" formControlName="customerPhoneNumber" class="form-control mb-3 mt-3" placeholder="Enter Phone Number"/>
        </div>
  
        <div class="form-group">
            <label>User Name</label>
            <input type="text" formControlName="customerUsername" class="form-control mb-3 mt-3" placeholder="Enter Username"/>
        </div>
  
        <div class="form-group">
            <label>Password</label>
            <input type="password" formControlName="customerPassword" class="form-control mb-3 mt-3" placeholder="Enter Password"/>
        </div>
  
        <span style="font-size: 15px">Already registered?<a routerLink="/login">Signin</a></span>
         <br/>
         <button type="submit" class="btn btn-success">Signup</button>
        
    </form>
  </div> -->









  